:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #b6411a;
  text-decoration: inherit;
}
a:hover {
  color: #b6411a;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000000;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: white;
}

h2 {
  color: white;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #cf5c36;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #b6411a;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.article-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  max-width: 400px;
}

.article-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.article-card .title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
}

.article-card .body {
  font-size: 1rem;
  line-height: 1.5; /* Adjust line-height for better readability */
  margin: 10px 0;
  flex-grow: 1;
  height: auto; /* Prevent the content from cutting off */
}

.article-card .created-at,
.article-card .votes {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.read-more-btn {
  text-align: center;
  background-color: #cf5c36;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.user-card img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 8px;
}

.username {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 4px;
}

.name {
  font-size: 0.9rem;
  color: #666;
}

.read-more-btn:hover {
  color: white;
  background-color: #b6411a;
}

.comments {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comments h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #333;
}

.comment-card {
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.comment-card div {
  margin-bottom: 0.5rem;
}

.comment-card div:last-child {
  margin-bottom: 0;
}

.comment-card .author {
  font-weight: 600;
}

.comment-card .created-at {
  font-size: 0.85rem;
  color: #000000;
}

.comment-form-container {
  width: 80%;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comment-form-container form {
  display: flex;
  flex-direction: column;
}

.comment-form-container label {
  margin-bottom: 10px;
  font-weight: bold;
}

.comment-form-container textarea {
  width: 80%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
}

.comment-form-container .error {
  color: red;
  margin-bottom: 10px;
}

.comment-form-container button {
  width: 90%;
  padding: 10px 20px;
  background-color: #cf5c36;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comment-form-container button[disabled] {
  background-color: #ccc;
}

.delete-comment-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.delete-comment-button:hover {
  background-color: #ff3333;
}

.vote-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.vote-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 14px;
}

.loading {
  color: white;
}

.topics {
  color: white;
}

.topics-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  font-family: Arial, sans-serif;
}

.topics-dropdown label {
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: #333;
}

.topics-dropdown select {
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease;
}

.topics-dropdown select:focus {
  border-color: #cf5c36;
}

.topics-dropdown option {
  padding: 10px;
  font-size: 1rem;
}

h3 {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #cf5c36;
}

.sort-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
}

.sort-controls label {
  font-weight: bold;
  margin-right: 10px;
  font-size: 1rem;
}

.sort-controls select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #fff;
  cursor: pointer;
}

.sort-controls button {
  padding: 8px 16px;
  background-color: #cf5c36;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.sort-controls button:hover {
  background-color: #b6411a;
}

.sort-controls button:active {
  background-color: #b6411a;
}

.app__light {
  background-color: #ffffff;
  color: #000000;
}

.app__light h1,
.app__light h2 {
  color: #000000;
}

.button__light {
  background-color: #f0f0f0;
  color: #cf5c36;
}

.app__dark {
  background-color: #000000;
  color: #ffffff;
}

.app__dark {
  color: #000000;
}

.button__dark {
  background-color: #cf5c36;
  color: #fff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
  a:hover {
    color: #b6411a;
  }
  button {
    background-color: #f9f9f9;
  }
}
